.navbar {
    background-color: #c0392c;
}

.banner:before {

    background-color: #c0392c;
}

.banner-images a {
    border: 2px solid #c0392c;
}

.banner-images a:hover,
.banner-images a:focus,
.banner-images a:active {
    border-color: #f4ba2f;
}

header .sticky {
    background-color: #c0392c;
}

footer {
    background-color: #c0392c;
}


.advanced .left-side-widget .table thead {
    border-bottom: 1px solid #c0392c;
}